/* Strings e identificadores */

/* Strings: Texto envolto de aspas */
/* Identificadores: red, black, gold */

/* exemplo */


.box {
    background-image: url(http://source.unsplash.com/random);
    height: 100vh;
}

.box::after

/* <-pseudo-elemento */
    {
    content: "aqui vem uma string / mensagem";
    color: white;
}