/* O GRID e o FLEX Pode ser utilizado juntos, só não no mesmo elemento  */

* {
    margin: 0;
}

body {
    display: grid;
    height: 100vh;
    grid-template-areas:
        "header header"
        "main aside"
        "footer footer";

    /* Cada uma das aspas significam linhas e onde serão ocupadas */

    grid-template-rows: 30px 1fr 40px;
    /* Muda o tamanho das linhas */
    grid-template-columns: 1fr 80px;
    /* Muda o tamanho das colunas */

    /* fr: fração, uma ideia flexível onde ele preencherá todo espaço onde esteja. */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0px 8px;
    /* Declarações e valores adicionais */
    grid-area: header;
    background-color: aqua;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;

    grid-area: main;
    background-color: blue;
}

aside {
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    /* Declarações e valores adicionais */

    grid-area: aside;
    background-color: blueviolet;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;

    grid-area: footer;
    background-color: green;
}