/* Distâncias absolutas <lenght> */

/* São fixas e não alteram seu valor */

/* Unidade      nome        Equivalência */
/* cm           Centímetro  1cm = 96px/2.54 */
/* in           Inches (polegadas)  1in=2.54cm = 96px */
/* px           Pixels      1px = 1/96th of 1in */

/* O mais comum de se utilizar é o PX */
/* Não recomendado utilizar o CM */

/* Distânicas relativas */

/* São relativas a algum outro valor, pode ser elemento pai, ou root, ou o tamanho da tela */

/* Beneficio */
/*  -  Maior adptação aos diferentes tipos de tela  */

/* _______________________________________________________________ */
/* Unidade      Relativo a: */

/* EM  -  TAMANHO DA FONT DO PAI */

/* Ele multiplica o valor definido do elemento pai por seu valor */

/* Exemplo EM: */

div {
    font-size: 16px;
}

p {
    font-size: 2em;
}

/* Ele multiplicará o font-size do p 18*2  ou por outro valor no qual você colocar dentro do em */

/* _______________________________________________________________ */

/* REM  - TAMANHO DA FONT DO ELEMENTO RAIZ (ROOT/HTML) */

/* Ele multiplica o valor definido no corpo do html (Root) por ele mesmo. */

/* Exemplo */

html {
    font-size: 16px;
}

div {
    font-size: 32px;
}

p {
    font-size: 1.9rem;
}

/* Por padrão o font-size vem por 16px no html o rem mexe apenas com os valores definidos no root ou no html */
/* _______________________________________________________________ */

/* vw           1% de viewport width */
/* vh           1% de viewport height */